<!-- todos/add_task.html -->
{% extends 'todos/base.html' %}

{% block content %}
    <div class="container">
        <!-- Your form for adding a new task goes here -->
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-lg-9">
                 
                    <form method="post" action="{% url 'todos:add' %}" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <div class="card mt-4">
                            <div class="card-body">
                                <h3 class="text-center">Add New Task</h3>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="title" class="form-label">Title:</label>
                                        <input type="text" class="form-control" name="title" id="title" placeholder="Write To Do" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="description" class="form-label">Description:</label>
                                        <input type="text" class="form-control" name="description" id="description" placeholder="Description">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="deadline" class="form-label">Deadline:</label>
                                        <input type="datetime-local" class="form-control" name="deadline" id="deadline" placeholder="Deadline" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="notification_time" class="form-label">Notification Time:</label>
                                        <input type="datetime-local" class="form-control" name="notification_time" id="notification_time" placeholder="Notification Time" required>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <button type="submit" name="submit" class="btn btn-outline-primary btn-add">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function validateForm() {
            var deadlineInputString = document.getElementById('deadline').value;
            var notificationTimeInputString = document.getElementById('notification_time').value;

            // Parse the date strings to create Date objects
            var deadlineInput = new Date(deadlineInputString).getTime();
            var notificationTimeInput = new Date(notificationTimeInputString).getTime();
            var now = new Date().getTime();
            console.log(now);
            console.log(deadlineInput);
            console.log(notificationTimeInput);

            if (deadlineInput < now ) {
                alert('Deadline Time cannot be in the past.');
                return false;
            }

            if ( notificationTimeInput <now ) {
                alert('notificationTime Time cannot be in the past.');
                return false;
            }

            if (deadlineInput < notificationTimeInput  ) {
                alert('notificationTime Time cannot be greter than the past.');
                return false;
            }

            return true;
        }
    </script>
{% endblock %}
